<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <img src="your-logo.png" alt="Logo">
        
      </span>
      <span class="fill-space"></span>
      <button mat-icon-button *ngIf="isSmallScreen" class="hamburger" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button *ngIf="!isSmallScreen" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button *ngIf="!isSmallScreen" routerLink="import">
        <mat-icon>import_export</mat-icon>
        <span>Import</span>
      </a>
      <a mat-button *ngIf="!isSmallScreen" routerLink="add">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </a>
    </mat-toolbar-row>
</mat-toolbar>
  
<div *ngIf="isMenuOpen && isSmallScreen" class="mobile-menu-overlay" (click)="closeSubMenu()">
    <mat-nav-list class="mobile-menu">
      <a mat-list-item routerLink="" (click)="toggleMenu()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="import" (click)="toggleMenu()">
        <mat-icon>import_export</mat-icon>
        <span>Import</span>
      </a>
      <a mat-list-item routerLink="add" (click)="toggleMenu()">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </a>

    </mat-nav-list>
</div>  
  