<div class="w-100 d-flex j-center mt-3">
    <div class="w-90 d-flex flex-column a-center gap-3">

        <mat-card class="w-100 text-center pointer" (click)="openCreateNewAccountDialog()">
            <h2>Add Account</h2>
        </mat-card>

        <mat-card class="w-100 text-center pointer" (click)="openCreateNewMovementDialog()">
            <h2>Add Movement</h2>
        </mat-card>

        <mat-card class="w-100 text-center pointer" (click)="openCreateNewRuleDialog()">
            <h2>Add Rule</h2>
        </mat-card>
    </div>
</div>





