<form [formGroup]="form">

    <!-- Header -->
    <div class="d-flex j-between">
        <h2>Create Account</h2>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Save</button>
    </div>

    <div class="w-100 d-flex a-baseline gap-5">
        <mat-form-field appearance="outline">
            <mat-label>Account name</mat-label>
            <input matInput placeholder="My account name" formControlName="accountName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Account type</mat-label>
            <input matInput placeholder="Bank" formControlName="accountType">
        </mat-form-field>
    </div>
</form>
